<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Weatherwise - 2FA</title>
  <link rel="stylesheet" href="../static/css/2fa.css">
</head>
<body>
  <header>
    <nav>
      <div class="logo">
        <h2>WeatherWise</h2>
      </div>
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        <li><a href="{{ url_for('about') }}">About Us</a></li>
        <li><a href="{{ url_for('login') }}">Log In</a></li>
        <li><a href="{{ url_for('signup') }}" class="btn-signup">Sign Up</a></li>
      </ul>
    </nav>
  </header>

  <main class="container">
    <div class="left-section">
      <img src="../static/images/logo.png" alt="Weatherwise Logo" class="logo">
    </div>

    <div class="right-section">
      <img src="../static/images/logo.png" alt="Weatherwise Logo" class="small-logo">
      <h2>Verify Your Identity</h2>
      <p>We sent a code to your email.</p>

      <form method="POST">
        <label for="Code">Enter 6-digit code</label>
        <input type="text" id="workspace" name="workspace" placeholder="Code">

        <div class="options">
          <label><input type="checkbox"> Remember device for 30 days</label>
          <a href="{{ url_for('resend_code') }}">Resend Code?</a>
        </div>

        <button type="submit" class="btn primary">Sign In</button>
        <button type="button" class="btn secondary">Back</button>

        <p class="signup-text">Don't have an account? <a href="signup.html">Create one</a></p>
      </form>
    </div>
  </main>
</body>
</html>
